[Unit]
Description=Power Button daemon for Steam

[Service]
ExecStart=/usr/lib/hwsupport/powerbuttond /dev/input/%I
Restart=always
Slice=session.slice

[Install]
WantedBy=gamescope-session.service
